.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1% 10%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}

.grid-item:hover {
    border: 1px solid gray;
    border-radius: 1rem;
    box-shadow: 5px 5px lightgray;
}

.grid-item > img {
    width: 100%;
}

